#Folders
target
rosycloud-common\target
rosycloud-dao\target
rosycloud-interface\target
rosycloud-pojo\target
rosycloud-service\target
rosycloud-web\target

#IDEA project file
*.iml
rosycloud-common\*.iml
rosycloud-dao\*.iml
rosycloud-interface\*.iml
rosycloud-pojo\*.iml
rosycloud-service\*.iml
rosycloud-web\*.iml

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
