<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rosycloud.mapper.CommentsMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.rosycloud.pojo.Comments">
        <id column="comment_id" property="commentId" />
        <result column="user_id" property="userId" />
        <result column="article_id" property="articleId" />
        <result column="comment_like_count" property="commentLikeCount" />
        <result column="comment_date" property="commentDate" />
        <result column="comment_content" property="commentContent" />
        <result column="parent_comment_id" property="parentCommentId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comment_id, user_id, article_id, comment_like_count, comment_date, comment_content, parent_comment_id
    </sql>

</mapper>
