<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rosycloud.mapper.FloorsMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.rosycloud.pojo.Floors">
        <id column="floor_id" property="floorId" />
        <result column="user_id" property="userId" />
        <result column="post_id" property="postId" />
        <result column="floor_content" property="floorContent" />
        <result column="floor_date" property="floorDate" />
        <result column="parent_floor_id" property="parentFloorId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        floor_id, user_id, post_id, floor_content, floor_date, parent_floor_id
    </sql>

</mapper>
