<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rosycloud.mapper.FriendLinksMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.rosycloud.pojo.FriendLinks">
        <id column="friend_link_id" property="friendLinkId" />
        <result column="friend_links" property="friendLinks" />
        <result column="friend_link_name" property="friendLinkName" />
        <result column="friend_link_description" property="friendLinkDescription" />
        <result column="friend_link_logo" property="friendLinkLogo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        friend_link_id, friend_links, friend_link_name, friend_link_description, friend_link_logo
    </sql>

</mapper>
