<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rosycloud.mapper.LabelMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.rosycloud.pojo.Label">
        <id column="label_id" property="labelId" />
        <result column="label_name" property="labelName" />
        <result column="label_alias" property="labelAlias" />
        <result column="label_description" property="labelDescription" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        label_id, label_name, label_alias, label_description
    </sql>

</mapper>
