<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rosycloud.mapper.LogMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.rosycloud.pojo.Log">
        <id column="log_id" property="logId" />
        <result column="broswer" property="broswer" />
        <result column="log_content" property="logContent" />
        <result column="log_level" property="logLevel" />
        <result column="note" property="note" />
        <result column="operate_time" property="operateTime" />
        <result column="operate_type" property="operateType" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="real_name" property="realName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        log_id, broswer, log_content, log_level, note, operate_time, operate_type, user_id, user_name, real_name
    </sql>

</mapper>
