<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rosycloud.mapper.LogMapper">
  <resultMap id="BaseResultMap" type="cn.rosycloud.pojo.Log">
    <id column="log_id" jdbcType="BIGINT" property="logId" />
    <result column="broswer" jdbcType="VARCHAR" property="broswer" />
    <result column="log_level" jdbcType="SMALLINT" property="logLevel" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="operate_type" jdbcType="SMALLINT" property="operateType" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.rosycloud.pojo.LogWithBLOBs">
    <result column="log_content" jdbcType="LONGVARCHAR" property="logContent" />
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    log_id, broswer, log_level, operate_time, operate_type, user_id, user_name, real_name
  </sql>
  <sql id="Blob_Column_List">
    log_content, note
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_log
    where log_id = #{logId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_log
    where log_id = #{logId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.rosycloud.pojo.LogWithBLOBs">
    insert into sys_log (log_id, broswer, log_level, 
      operate_time, operate_type, user_id, 
      user_name, real_name, log_content, 
      note)
    values (#{logId,jdbcType=BIGINT}, #{broswer,jdbcType=VARCHAR}, #{logLevel,jdbcType=SMALLINT}, 
      #{operateTime,jdbcType=TIMESTAMP}, #{operateType,jdbcType=SMALLINT}, #{userId,jdbcType=BIGINT}, 
      #{userName,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{logContent,jdbcType=LONGVARCHAR}, 
      #{note,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.rosycloud.pojo.LogWithBLOBs">
    insert into sys_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        log_id,
      </if>
      <if test="broswer != null">
        broswer,
      </if>
      <if test="logLevel != null">
        log_level,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>
      <if test="operateType != null">
        operate_type,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="logContent != null">
        log_content,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        #{logId,jdbcType=BIGINT},
      </if>
      <if test="broswer != null">
        #{broswer,jdbcType=VARCHAR},
      </if>
      <if test="logLevel != null">
        #{logLevel,jdbcType=SMALLINT},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateType != null">
        #{operateType,jdbcType=SMALLINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="logContent != null">
        #{logContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.rosycloud.pojo.LogWithBLOBs">
    update sys_log
    <set>
      <if test="broswer != null">
        broswer = #{broswer,jdbcType=VARCHAR},
      </if>
      <if test="logLevel != null">
        log_level = #{logLevel,jdbcType=SMALLINT},
      </if>
      <if test="operateTime != null">
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateType != null">
        operate_type = #{operateType,jdbcType=SMALLINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="logContent != null">
        log_content = #{logContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where log_id = #{logId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.rosycloud.pojo.LogWithBLOBs">
    update sys_log
    set broswer = #{broswer,jdbcType=VARCHAR},
      log_level = #{logLevel,jdbcType=SMALLINT},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      operate_type = #{operateType,jdbcType=SMALLINT},
      user_id = #{userId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      log_content = #{logContent,jdbcType=LONGVARCHAR},
      note = #{note,jdbcType=LONGVARCHAR}
    where log_id = #{logId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.rosycloud.pojo.Log">
    update sys_log
    set broswer = #{broswer,jdbcType=VARCHAR},
      log_level = #{logLevel,jdbcType=SMALLINT},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      operate_type = #{operateType,jdbcType=SMALLINT},
      user_id = #{userId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR}
    where log_id = #{logId,jdbcType=BIGINT}
  </update>
</mapper>