<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rosycloud.mapper.PostsMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.rosycloud.pojo.Posts">
        <id column="post_id" property="postId" />
        <result column="forum_id" property="forumId" />
        <result column="user_id" property="userId" />
        <result column="post_title" property="postTitle" />
        <result column="post_views" property="postViews" />
        <result column="post_content" property="postContent" />
        <result column="post_date" property="postDate" />
        <result column="post_status" property="postStatus" />
        <result column="post_comment_count" property="postCommentCount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        post_id, forum_id, user_id, post_title, post_views, post_content, post_date, post_status, post_comment_count
    </sql>

</mapper>
