<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rosycloud.mapper.SetArtitleLabelMapper">
  <resultMap id="BaseResultMap" type="cn.rosycloud.pojo.SetArtitleLabel">
    <id column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="label_id" jdbcType="BIGINT" property="labelId" />
  </resultMap>
  <sql id="Base_Column_List">
    article_id, label_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from set_artitle_label
    where article_id = #{articleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from set_artitle_label
    where article_id = #{articleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.rosycloud.pojo.SetArtitleLabel">
    insert into set_artitle_label (article_id, label_id)
    values (#{articleId,jdbcType=BIGINT}, #{labelId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.rosycloud.pojo.SetArtitleLabel">
    insert into set_artitle_label
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        article_id,
      </if>
      <if test="labelId != null">
        label_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="labelId != null">
        #{labelId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.rosycloud.pojo.SetArtitleLabel">
    update set_artitle_label
    <set>
      <if test="labelId != null">
        label_id = #{labelId,jdbcType=BIGINT},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.rosycloud.pojo.SetArtitleLabel">
    update set_artitle_label
    set label_id = #{labelId,jdbcType=BIGINT}
    where article_id = #{articleId,jdbcType=BIGINT}
  </update>
</mapper>