<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rosycloud.mapper.SubmenusMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.rosycloud.pojo.Submenus">
        <id column="link_id" property="linkId" />
        <result column="menu_id" property="menuId" />
        <result column="link_name" property="linkName" />
        <result column="link_target" property="linkTarget" />
        <result column="link_open_way" property="linkOpenWay" />
        <result column="parent_link_id" property="parentLinkId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        link_id, menu_id, link_name, link_target, link_open_way, parent_link_id
    </sql>

</mapper>
