<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rosycloud.mapper.UsersMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.rosycloud.pojo.Users">
        <id column="user_id" property="userId" />
        <result column="user_ip" property="userIp" />
        <result column="user_name" property="userName" />
        <result column="user_password" property="userPassword" />
        <result column="user_email" property="userEmail" />
        <result column="user_profile_photo" property="userProfilePhoto" />
        <result column="user_level" property="userLevel" />
        <result column="user_rights" property="userRights" />
        <result column="user_registration_time" property="userRegistrationTime" />
        <result column="user_birthday" property="userBirthday" />
        <result column="user_age" property="userAge" />
        <result column="user_telephone_number" property="userTelephoneNumber" />
        <result column="user_nickname" property="userNickname" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, user_ip, user_name, user_password, user_email, user_profile_photo, user_level, user_rights, user_registration_time, user_birthday, user_age, user_telephone_number, user_nickname
    </sql>

    <!-- 查询所有 -->
    <select id="getUsers" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from users
    </select>

    <select id="findUserByUnameAndPasswd" parameterType="cn.rosycloud.pojo.Users" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from users
        where user_name = #{userName,jdbcType=VARCHAR} and user_password = #{userPassword,jdbcType=VARCHAR}
    </select>

</mapper>
