<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rosycloud.mapper.VQueryClassifiedArticlesMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.rosycloud.pojo.VQueryClassifiedArticles">
        <result column="sort_id" property="sortId" />
        <result column="sort_name" property="sortName" />
        <result column="article_id" property="articleId" />
        <result column="article_title" property="articleTitle" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sort_id, sort_name, article_id, article_title
    </sql>

</mapper>
